<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
      <img id="dog" src="<%= dog.image %>" alt="dog">
      <form action="dogs" method="get">
        <input type="submit" value="Next" />
      </form>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>